<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.settlement.stuck.infra.db.mapper.StuckFlowMapper">

    <select id="selectByStuckTypeAndTradeIdAndTradeType"
            resultType="com.example.settlement.stuck.infra.db.entity.StuckFlowEntity">
        select * from stuck_flow
        where stuck_type = #{stuckType} and trade_id = #{tradeId} and trade_type = #{tradeType}
    </select>

    <insert id="insertSelective" parameterType="com.example.settlement.stuck.infra.db.entity.StuckFlowEntity">
<!--        todo-->
        insert into stuck_flow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="stuckType != null">stuck_type,</if>
            <if test="tradeId != null">trade_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>

        </trim>

    </insert>
</mapper>