<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.settlement.config.mapper.ChargeConfigMapper">

<select id="selectActiveConfigsByUserId" resultType="com.example.settlement.config.entity.ChargeConfigEntity">
    select * from charge_config
    where user_id = #{userId} and archive = 1
</select>
</mapper>