<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.settlement.config.mapper.SettleConfigMapper">

<select id="selectByUserId" resultType="com.example.settlement.config.entity.SettlementConfigEntity">
    select * from settle_config where user_id = #{userId}
</select>

<select id="selectActiveUsers" resultType="java.lang.Long">
    select user_id from settle_config where archive = 0 and disable = 0
    </select>

<select id="selectConfig" resultType="com.example.settlement.config.entity.SettlementConfigEntity">
    select * from settle_config
    where user_id = #{userId} and product_type = #{productType} and archive = 0 and disable = 0
</select>

<select id="selectConfigByConfigId" resultType="com.example.settlement.config.entity.SettlementConfigEntity">
    select * from settle_config
    where config_id = #{configId} and archive = 0 and disable = 0
</select>
    <select id="selectByUserIdAndProductType" resultType="com.example.settlement.config.entity.SettlementConfigEntity">
        select * from settle_config where user_id = #{userId} and product_type = #{productType} and archive = 0 and disable = 0
    </select>

<insert id="insertSelective">
    insert into  settle_config
        <trim prefix="(" suffix=")" suffixOverrides=",">

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

        </trim>
</insert>

</mapper>